.tables {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  row-gap: 20px;
  column-gap: 10px;
}

.table,
.info {
  height: 40px;
}

.info {
  width: auto;
}

.categories {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.categorie {
  height: 30px;
  font-size: 20px;
}

.back {
  height: 30px;
}

.articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

.article {
  height: 50px;
}

.navigation {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
}

.back,
.activeTable {
  height: 50px;
}

.table-articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.sum {
  padding-top: 30px;
  font-size: 35px;
}

.tip {
  padding-top: 30px;
  font-size: 35px;
  display: flex;
  flex-direction: column;
  align-items: center
  
}

.numbers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
  padding: 20px;
}

.num {
  height: 50px;
  width: auto;
}

.options {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.optionsbtn {
  height: 40px;
  width: auto;
}

.table-info {
  font-size: 30px;
}

.active {
  background-color: rgb(171, 192, 139);
}
